@media only screen and (max-width: 1670px) {

	/*-- Header --*/

	.header_templ {
	    padding-left: 25px;
	    padding-right: 25px;
	}

	.header_templ > .left_col {
	    width: 9%;
	}

	.header_templ > .center_col {
	    width: 82%;
	}

	.header_templ > .right_col {
	    width: 9%;
	}

	.menu_header > .left_col .logo {
	    left: 0;
	}

	/*-- /Header --*/

}

@media only screen and (max-width: 1530px) {

	/*-- Header --*/

	.header_templ {
	    padding-left: 0;
	    padding-right: 0;
	}

	.header_templ > .left_col {
		display: none;
	}

	.header_templ > .center_col {
		width: 100%;
	}

	.header_templ > .right_col {
		display: none;
	}

	/*-- /Header --*/

}

@media only screen and (max-width: 900px) {



}

@media only screen and (max-width: 767px) {



}

@media only screen and (max-width: 600px) {



}


@media only screen and (max-width: 480px) {

	
}
